<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>タスクお疲れさまでした</title>
    <link href="./static/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mt-5 mb-5">
      <h1>タスクお疲れさまでした</h1>
      <p class="lead">この度はタスクにご参加いただきありがとうございました。</p>
      <p>
        タスクは以上で終了です。クラウドワークスのタスク完了報告欄に、以下の完了コードを入力して報告してください。なお、完了コードの再発行はできませんので、承認されるまでは必ず完了コードを控えておいてください。
      </p>
      <p>完了コード: <strong>{{ completion_code }}</strong></p>
    </div>
    <script src="./static/js/bootstrap.min.js"></script>
  </body>
</html>
