<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>タスクの入り口ページ</title>
    <link href="./static/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mt-5 mb-5">
      <h2>本タスクの諸注意</h2>
      <p class="lead">
        本タスクに参加するにあたり、以下の注意をよく読んで、同意できる場合にのみ先に進んでください。
      </p>
      <ul>
        <li>
          タスクの途中でブラウザを閉じたり、ページを離れたり、再読み込みをした場合、入力内容は失われますので行わないように注意ください。もし行ってしまった場合はクラウドワークスページから再度アクセスしてください。
        </li>
        <li>
          本タスクは、クラウドワークスのタスクとして行われます。タスクを完了するためには、最終ページに表示される完了コードを報告する必要があります。タスク本体の時間は{{
          time_limit
          }}分です。その間、中断が起きないように時間の確保をお願いします。
        </li>
        <li>
          本タスクにおいて入力した内容は一定時間ごとに記録用サーバに送信され、途中段階の入力内容についても記録されます。
        </li>
        <li>
          本タスクにおいて入力した内容は、研究目的のみに使用いたしますが、次の段階のタスクにおいて、入力内容について第3者が閲覧しアノテーションを行います。
        </li>
        <li>
          明らかに指示と異なる内容が記入されたり、長時間の無記入時間があるなど、適切にタスクが行われていないことが疑わしい場合は、タスクを非承認とすることがあります。
        </li>
      </ul>
      <h2>個人情報とデータの取扱い</h2>
      <ul>
        <li>
          このタスクでは、システムに入力した内容（クラウドワークスID、考えの記述内容、入力したURL情報）が記録されます。
        </li>
        <li>
          データには番号付けを行うとともに匿名化しますので、専門学会、学術専門誌、学内研究会などを通じて研究発表する際も個人情報は守秘されます。
        </li>
        <li>データの保管には万全を期し外部へは漏洩しません。</li>
      </ul>
       
      <h2>タスク対象者の権利について</h2>
      <ul>
        <li>この研究に参加するか否かは自由意志で決定してください。</li>
        <li>
          また、一度同意した後でも同意を取り消すことができ、それによる不利益はありません。
        </li>
        <li>
          匿名化番号を破棄するとともに、それまでに得られたデータや解析結果を破棄し、それ以降の研究には一切使用いたしません。
        </li>
        <li>
          ただし、取り消し要求された時点で公表済みの解析結果がある場合は、このデータを破棄できませんのでご承知おきください。
        </li>
      </ul>
      <p>
        以上、何かご不明な点がありましたら遠慮なくお尋ねください。本研究へのご理解とご協力に深く感謝いたします。
      </p>
      <form action="./main" method="post">
        <input type="hidden" name="task_id" value="{{ task_id }}" />
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            name="cw_id"
            placeholder="クラウドワークスのワーカーIDを入力してください"
            required
          />
          <input
            class="btn btn-primary"
            type="submit"
            value="同意してタスクを開始する"
          />
        </div>
      </form>
    </div>
    <script src="./static/js/bootstrap.min.js"></script>
  </body>
</html>
